@import 'modern-normalize/modern-normalize.css';

:root {
  /** Colors **/
  --basic-white: #fcfbfb;
  --basic-grey: #606161;
  --basic-black: #111010;

  /** Gradients **/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /** Font **/
  --font-family: 'Montserrat', sans-serif;
  --title-font-size: 24px;
  --title-font-weight: 500;
  --basic-font-size: 16px;
  --basic-font-weight: 500;

  /** Transition **/

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
}

/* main {
    
} */

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
}

input {
  padding: 0;
}

figure {
  margin: 0;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  font-family: var(--font-family);
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}
